:root {
  --background: url('../../public/Untitled-1\ 1\ copy.png');
  /* --foreground: #171717; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.mainContent{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainCard{
  padding: 1rem 2rem;
  background-color: rgba(154, 154, 154, 0.59);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.3);
  font-size: 1.4rem;
}

.menu-container {
    display: flex;
    justify-self: center;
    width: 100%;
    padding: 0 2rem;
    border-bottom: 1px solid white;
}







.controls{
  margin-left: auto;
}

.input-controls{
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

/* 
.metric-units{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.36) ;
  min-height: 38px;
  min-width: 78px;
  font-size: 1.1rem;
  display: flex;
  gap: 0.2rem;
}

.metric-units a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 28px;
  min-width: 28px;
}

.unit-selected {
  background-color: white;
  color: black;
  border-radius: 6px;
} */


.metric-units {
  display: flex;
  position: relative;
  background-color: rgba(255, 255, 255, 0.36) ;
  border-radius: 10px;
  max-height: 35px;
}

.metric-units button {
  font-size: 1.1rem;
  padding: 0.5rem 0.5rem;
  color: white;
  border: none;
  border-radius: 100px;
  background: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: color 0.3s;
}

.metric-units button.selected {
  color: #333;
}

.slider {
  position: absolute;
  background-color: white;
  height: calc(100%);
  width: 50%;
  border-radius: 10px;
  transition: transform 0.2s ease;
  
}

.slider.fahrenheit {
  transform: translateX(100%);
}


.nav-container {
  width: fit-content;
}

.menu {
  position: relative;
  display: flex;
  gap: 16px;
  padding: 4px;
}

.menu button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 1.2rem;
  color: white;
  transition: color 0.3s ease;
  position: relative;
  z-index: 1;
}

.menu button.selected {
  color: white;
}

.underline {
  position: absolute;
  bottom: -3px;
  height: 5px;
  background-color: white;
  transition: transform 0.3s ease, width 0.3s ease;
}


.search-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end; /* Align items to the right */
  width: 200px;
}

.search-input {
  width: 130px;
  padding: 0.45rem 15px;
  border: none;
  border-radius: 10px 0 0 10px; /* Round only the left corners */
  font-size: 1.2rem;
  transition: all 0.3s ease;
  outline: none;
  background: rgba(255, 255, 255, 0.36);
  transform-origin: right center; /* Set the origin for scaling/expansion */
}

.search-input::placeholder {
  color: white;
}

.search-input:focus {
  width: 200px;
}

.search-button {
  padding: 5px 10px;
  padding-top: 7px;
  border: none;
  border-radius: 0 10px 10px 0; /* Round only the right corners */
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.36);
  cursor: pointer;
  transition: background 0.3s ease;

}
.search-button:hover {
  background: rgba(255, 255, 255, 0.6);
}

.results-container {
  position: absolute;
  top: 37px;
  left: -40px;
  background:rgba(255, 255, 255, 0.36);
  border-radius: 0 0 10px 10px;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.3s ease;
  
  /* overflow-y: auto; */
}

.results-container.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.result-item {
  display: flex;
  gap: 10px;
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s ease;
}

.result-item:last-child {
  border-bottom: none;
}

.result-item:hover {
  background-color: rgba(255, 255, 255, 0.36);
}

.result-name {
  font-size: 1.2rem;
  color: white;
  font-weight: 500;
}

.result-location {
  font-size: 0.9em;
  font-size: 1rem;
  color: white;
  margin-top: 2px;
}

.input-round{
  border-radius: 10px 0 0 0;
}


.card-info{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 12px 2rem;
  justify-self: center;
}

.primary-card-info{
  align-self: center;
}

.secondary-card-info{
  min-width: 550px;
  padding: 0 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-height: 588px;
}
.secondary-card-info::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.secondary-card-info::-webkit-scrollbar-track {
  background: #ffffff3d; /* Background of the scrollbar track */
  border-radius: 10px;
}

.secondary-card-info::-webkit-scrollbar-thumb {
  background: #ffffffca; /* Color of the scrollbar thumb */
  border-radius: 10px;
}

.secondary-card-info::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color when hovered */
}

.weather-info{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.weather-info-cell{
  display: flex;
  font-size: 1.2rem;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.temp-info{
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.temp-info h1{
  font-size: 74px;
  font-weight: 500;
}

.hourly-slot{
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 1.2rem;
  background:rgba(217, 217, 217, 0.3);
  padding: 1rem;
  border-radius: 10px;  
  transition: all ease 0.1s;
}
.hourly-slot:hover{
  background:rgba(255, 255, 255, 0.36);
  cursor: pointer;
}

.slot-first-half{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.slot-second-half{
  display: flex;
  gap: 1.4rem;
  justify-content: flex-end;
  margin-left: auto;
  align-items: center;
}

.info-set{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

@media only screen and (max-width: 1155px) {
  .mainContent{
    justify-content: flex-start;
    margin: 2rem;
  }
  .card-info{
    flex-direction: column;
    gap: 1rem;
    
  }
  .primary-card-info{

  }
  .country-date{
    text-align: center;
  }
}

@media only screen and (max-width: 816px) {
  .hourly-slot{
    flex-wrap: wrap;  
  }
 .menu-container{
    flex-direction: column;
    align-items: center;
    align-self: center;
 } 
 .nav-container{
  order: 2;
 }
 .input-controls{
  margin-left: unset;
  order: 1;
  justify-content: center;
  align-items: center;
 }
 .mainCard{
  margin: 1rem;
 }
 .secondary-card-info{
  min-width: unset;
 }
 .weather-info{
  flex-wrap: wrap;
 }
 .temp-info{
  gap: 2rem;
  padding: 2rem 0;
 }
 .nav-container{
  width: 100%;
 }
}
@media only screen and (max-width: 680px){
  .mainContent{
    margin: 0;
  }
  .mainCard{
    margin: 0;
    width: 100%;
  }
  .card-info{
    width: 100%;
    padding: 0;
  }
 
}
@media only screen and (max-width: 520px){
.hourly-slot{
  flex-direction: column;
}
.slot-second-half{
  justify-content: center;
  margin-left: unset;
}
.mainCard{
  padding: 0px;
  padding-top: 1rem;
}
.card-info{
  padding: 1.5rem 0;
}
.hourly-slot{
  gap: 1rem;
}
}